@import url('https://fonts.googleapis.com/css2?family=Open+Sanys:wght@300&display=swap');

:root{
    --primary-color:
}

/** paragraph **/
.p{
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size:18px;
    font-weight: 400;
    line-height: 28px;
}
/** section **/
.section{
    text-align:center;
    padding:2rem;
}
.section-blog
{
    text-align:center;
}
.section-para{
    text-align:justify;
    padding:0rem 5rem;

}
.section-images{
    width:900px;
    height: 250px;
}
 .section-italics
 {
     font-style: italic;    
 }
 .section-dots{
    text-align:center;
    font-weight: bolder;
    font-size:30px;
 }

 .section-projects{
    text-align:center;
 }
 .blog-footer{
    color:white;
    text-align:center;
    font-weight: 600px;
    position: relative;
    bottom:0;left:0; right:0;
    background-color: #62DCD0;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
 }