@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Roboto:wght@100&display=swap');


:root{
    --primary-color: #62DCD0;
}
body{
    font-family: 'Open Sans', sans-serif;
}

/** containers **/
.container{
    padding-left:1rem;
    padding-right:1rem;
}

.container-center{
    max-width: 600px;
    margin: auto;
}

.container-projects{
    max-width: 600px;
    margin:auto;
    text-align:center;
}
.container-blogs{
    max-width: 900px;
    margin:auto;
    text-align: center;
}

/** Links **/
.link
{
    text-decoration: none;
    padding:.3rem 2rem;
    color:white;
    font-weight: bold;
    border-radius: 1rem;
} 
.link-primary
{
    color:white;
    background-color:#62DCD0;    
}
.link-secondary
{
    color:#62DCD0;
    background-color: white;
    text-decoration: none;
    font-weight: bold;
    border-radius: .3rem;
    padding:.3rem 2rem;
    margin: 2rem;
}
.link-blog
{
    text-decoration: none;
    color:black;
    font-weight: bold;
    text-align:right;
}
hr
{
    margin: 1.5rem 0rem;
}
.list-non-bullet
{
    list-style:none;    
}

.list-item-inline
{
    display: inline;
    padding: 0rem 0.5rem;
}
.link-active{
    color:white;
    background-color: black;
}

.mark
{
    font-size:1.5rem;
    display:inline;
    margin:1.5rem;
}
.mark-links{
    font-size:1rem;
    display:inline;
    margin:1.5rem;
    text-align:center;
}

/** navigation **/
.navigation{
    background-color:#62DCD0;
    padding: .4rem;
    border-radius: 1rem;
}

.navigation .nav-brand{
    font-size:1.5rem;
    color: black;
}

.navigation .nav-pills{
    text-align:right;
}

.navigation .link{
    text-align:right;
    color:white;
}

.navigation .link-active{
    font-weight: bolder;
    background-color: black;
}

.navigation-projects{
    background-color:#E5E7EB;
    padding: .5rem;
    border-radius: .3rem;
}


/** Header **/

.hero{
    padding:1rem
}
.hero .hero-img{
    max-width:200px;
    display:block;
    margin:auto;
}

.hero .hero-header{
    text-align:center;
    color:
    #6B7280;
}

.hero .hero-color{
    color:#62DCD0;
    font-weight:bold;
    font-size: 3rem;
}


/** section **/
.section{
    text-align:center;
    padding:2rem;
}
 .section h1{
     text-align: center;
     padding:3rem;
 }

 .section h2{
    text-align: center;
    padding:1rem;
    }
 .ow{
    background-color:#E5E7EB;
    padding:2rem;
 }
 .spacer
 {
    padding-block-end: 2rem;
 }
 .mark-color{
    color:white;
 }

 /** footer **/
.footer{
    color:white;
    text-align:center;
    font-weight: 600px;
    background-color: #62DCD0;
    padding:2rem;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
}

.footer ul{
    padding-inline-start: 0px;
}
